# Documentation and other files
docs/

# Virtual environment files
**/.venv/
**/venv/
backend/.venv/
backend/__pycache__/
frontend/.venv/
frontend/__pycache__/


# Python bytecode and related files
**/__pycache__/
*.pyc

# Git and Other repository files
**/.git/
**/.gitignore
**/*.md

# Tools
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/*.egg-info/S
