# Before editing these values please read the
# README.md file at the root of the repository
# to understand what they do and what to put inside.

APP_NAME="Retrieve LMS"
APP_DEBUG=True
APP_DEMO=True

APP_ADDRESS=https://retrieve.stefenmarg.com
API_BASE_URL=https://retrieve.stefenmarg.com/api/v1

STORAGE_SECRET=<Secure Storage Secret>

JWT_SECRET=<Secure JWT Secret>
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=<Expiration in min>
JWT_REFRES_TOKEN_EXPIRATION_MINUTES=<Expiration in min>

DB_USER=<postgre_user>
DB_PASSWORD=<postgre_password>
DB_HOST=<postgre_host>
DB_PORT=<postgre_port>
DB_NAME=<postgre_name>
